@import url('https://fonts.googleapis.com/css2?familmargiy=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'roboto',sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
}
main{
    height: calc(100vh - 70px);
    display: flex;
    background-color: #f9f9f9;
}
.side-bar{
    height: 100%;
    width: 17%;
    background-color: rgb(255, 255, 255);
    overflow-y: hidden;
}
.left{
    display: flex;
    align-items: center;
}
.left #menu{
    padding: 0 7px;
    cursor: pointer;
}
.search{
    display: flex;
}
.search form{
    display: flex;
    border: 1px solid #ddd;
    height: 45px;

}
.search input{
    width: 600px;
    padding: 10px;
    border: 0;
    height: 100%;
    border-radius: 2px 0 0 2px;
}
input:focus{
    outline: none;
    border: 1px solid #ddd;
}
.search button{
    height: 100%;
    width: 60px;
    border: none;
}
.mic{
    margin-top: 10px;
}
.material-icons{
    color: rgb(100, 100, 100);
    padding: 0 7px;
    cursor: pointer;
}
.nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}
.nav-link{
    display: flex;
    align-items: center;
    padding: 12px 25px;
    text-decoration: none;
    color: black;
}
.nav-link span{
    margin-left: 15px;
}
.nav-link:hover{
    background: #e5e5e5;
    cursor: pointer;
}
.active{
    background: #e5e5e5;
}
hr{
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}
.content{
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    padding: 15px 15px;
    border-top: 1px solid #ddd;
    overflow-y: scroll;
}
.videos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}
.video{
    width: 23.6%;
    height: 0%;
}
.thumbnail{
    width: 100%;
    height: 53%;
}
.thumbnail img{
    object-fit: cover;
    height: 115%;
    width: 100%;
}
.author img{
    object-fit: cover;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 10px;
}
.details{
    display: flex;
}
.title{
    display: flex;
    flex-direction: column;
}
.title h3{
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 0.8rem;
    margin-bottom: 6px;
}
.title a,span{
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 0.6rem;
}

 @media (max-width:798px){
    /* .side-bar{
        display: none;
    }*/
    main{
        display:block;
    }
    .side-bar{
        display: flex;
        flex-direction: row;
        padding: 0px;
        margin: 0%;
        align-items: center;
        justify-content: center;
        height: 50px;
        overflow:hidden;
        width: 100%;
        
        overflow-x:none;
    
    }
    .nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0px;
        padding: 0px;
        margin: 0%;
    }
    .nav span{
        display: none;
    }
    .nav-link{
        padding: 4px;
    }

    .ext{
        display: none;
    } 
} 
@media(max-width:996px){
    .video{
        width: 31.7%;
        height: 0%;
    }
    .thumbnail{
        width: 100%;
        height: 53%;
    }
    .thumbnail img{
        object-fit: cover;
        height: 115%;
        width: 100%;
    }
}
@media(max-width:1097px){
    .nav-link{
        flex-direction: column;
        align-items: center;
    }
    .nav-link span{
        margin-left:10px ;
        
    }
    .search input{
        width: 17rem;
    }
}
@media(max-width:660px){
    .video{
        width: 48%;
    }
    .search input{
        width: 13rem;
    }
}
@media(max-width:576px){
    .ixt{
        display: none;
    }
    .mm{
        display: none;
    }
    .search input{
        width: 7rem;
    }
    .video{
        width: 100%;
    }

    
}


/* shorts*/
.short{
    padding: 10px;
    border-top: 3px solid gray;
    
}
.head-short{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
}
.short-img{
    height: 25px;
    width: 15px;
}

.main-short{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    
    gap: 10px;
    flex-wrap: nowrap;
    height:auto;
}
.thumbnail-short{
    width: 23.3%;
    height: 500px;
    background-color: black;
    border-radius: 15px;
    
    
}
.thumbnail-short img{
            width: 100%;
            height: 80%;
            border-radius: 15px;
           
           
}
.thumbnail-short .title-short,span  {
    display: block;
    width: 100%;
    font-size: 14px;
    color: white;
    padding-left: 10px;
}
@media (max-width:798px){
    .main-short{
        display: flex;
        justify-content: space-around;
        height: auto;
        flex-wrap: wrap;
        border: none;

    }

    .thumbnail-short{
        width: 45%;
        height:auto;
        
        
    }
    .thumbnail-short img{
        width: 100%;
        height: 80%;
    }
    .title-short{
        overflow-x: hidden;
    }
}
